body{
    background-color: azure;
    margin: 5%;
    
    h1{
        text-align: center;
    }
    
    div{
        text-align: center;
        margin-left: 2%;
        margin-top: 2%;
    }
}

.responsive{
    display: inline-block;

    
    
    width: 200px;
    height: 100px;
}


.div-info{
    background-color:blue;
} 

.div-pic{
    background-color: yellow;
}

.div-footer{
    background-color: green;
    
    
    margin-top: 2%;

}

@media screen and ( max-width:500px ){
    
    .responsive{
        //width: 90%;
        //background-color: green;
    }
}